<div class="row mt-5">
  <div class="top-page m-5">
    <div class="image-area">
      <h1 id="title" class="text-white text-center">超シンプルなスノーパーク情報サービス</h1>
      <p id="subtitle" class="text-white text-center">PARKINDEXはフリースタイラーのためのシンプルなスノーパーク情報共有サービスです</p>
      <div class="text-center my-5">
        <%= link_to "無料でサインアップ", login_path, class: "btn btn-info rounded-0 my-5"%>
      </div>
      <div id="carouselIndicators" class="carousel slide my-5 w-50" data-ride="carousel">
        <ul class="browse-bar bg-gray mb-0">
          <%= fa_icon "circle", class: "ml-2 fa-small text-danger"%>
          <%= fa_icon "circle", class: "fa-small text-warning" %>
          <%= fa_icon "circle", class: "fa-small text-success" %>
        </ul>
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'root_1.png' , class: "d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'root_2.png' , class: "d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'root_3.png' , class: "d-block w-100" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          >
        </a>
      </div>
    </div>
    <div class="content-area text-secondary">
      <h2 class="text-center my-5"><strong>機能</strong></h2>
      <div class="row m-3">
        <div class="col-sm-6 col-lg-3 mt-1 text-center">
          <%= fa_icon "home", class: "fa-3x" %>
          <h6 class="badge badge-secondary mb-3">スキー場情報</h6>
          <p>スキー場の最新情報を得ることができます</p>
        </div>
        <div class="col-sm-6 col-lg-3 mt-1 text-center">
          <%= fa_icon "exclamation-triangle", class: "fa-3x" %>
          <h6 class="badge badge-secondary mb-3">スノーパーク情報</h6>
          <p>スノーパークの最新情報を得ることができます</p>
        </div>
        <div class="col-sm-6 col-lg-3 mt-1 text-center">
          <%= fa_icon "file", class: "fa-3x" %>
          <h6 class="badge badge-secondary mb-3">レイアウト情報</h6>
          <p>登録したユーザーはレイアウトを自由に追加、編集を行うことができます。</p>
        </div>
        <div class="col-sm-6 col-lg-3 mt-1 text-center">
          <%= fa_icon "comments", class: "fa-3x" %>
          <h6 class="badge badge-secondary mb-3">コメント機能</h6>
          <p>パークに対するコメントをすることでより詳しい情報共有を行うことができます。いいね機能もついています</p>
        </div>
      </div>
    </div>
  </div>

</div>
