<li id="comment-<%= comment.id %>" class="list-inline m-2 p-2 bg-light">
  <div class="row">
    <div class="col-md-2 border-right border-secondary">
      <%= link_to (image_tag(comment.user.profile_image, {alt: "profile_pic", height: 60, class: "rounded"})), comment.user %>
      <div class="user"><%= link_to comment.user.name, comment.user, class: "text-dark" %></div>
    </div>
    <div class="col-md-10">
      <div class="content">
        <p class="card-text"><%= comment.body %></p>
      </div>
      <div class="option">
        <span class="like-btn mr-1">
        <%= render :partial => "likes/like", locals: {comment: comment, likes: @likes} %>
        </span>
        <%= fa_icon "calendar" %> <%= comment.created_at.strftime("%Y-%m-%d") %>
        <% if current_user?(comment.user) %>
        <%= link_to (fa_icon "trash"), comment, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "text-dark pl-1" %>
        <% end %>
      </div>
    </div>
  </div>
</li>
