<h1><%= @park.name %></h1>
<div>
  <%= image_tag 'sample_skiresort.jpg' , width: 300 %>
</div>
<div>
  <%= fa_icon "fighter-jet" %> <%= @park.item %>
</div>
<div>
  <%= fa_icon "check-square-o" %> <%= @park.level %>
</div>

<div class="comments">
  <%=  "まだ、このパークに対するコメントはありません。" if @comments.blank? %>
  <ul>
    <%= render :partial => "comments/comment", :collection => @comments %>
  </ul>
</div>
<% if logged_in? %>
<%= render :partial => "comments/comment_form" %>
<% end %>
