<div class="row">
  <div class="col-sm-2">
    <%= image_tag(@user.profile_image, {alt: "profile_pic", class: "w-100 rounded"}) %>
  </div>
  <div class="col-sm-10">
    <div class="primary-info">
      <span class="name-label"><%= @user.name %></span>
      <span class="age pl-3">
        <% if @user.gender.present? %>
        <%= fa_icon @user.gender %>
        <% end %>
        <% if @user.age.present? %>
        <%= @user.age %>歳
        <% end %>
      </span>
    </div>
    <div class="area">
      <span><%= fa_icon "angle-double-right" %> 住んでいるエリア: </span>
      <% if @user.area.name.blank? || @user.area.name == "未設定" %>
      <small>(エリアは未設定です)</small>
      <% else %>
      <%= @user.area.name %>
      <% end %>
    </div>
    <div class="homegelaende">
      <span><%= fa_icon "angle-double-right" %> ホームゲレンデ: </span>
      <% if @user.home_gelaende.present? %>
      <%= @user.home_gelaende %>
      <% else %>
      <small>(ホームゲレンデは未設定です)</small>
      <% end %>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div class="selfintroduction">
      <div class="card w-100">
        <div class="card-header">
          <%= fa_icon "info" %> 自己紹介
        </div>
        <div class="card-body">
          <% if @user.self_introduction.present? %>
          <%= @user.self_introduction %>
          <% else %>
          <small>(自己紹介は未設定です)</small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="comments mt-3">
      <ul class="mt-2">
        <% if @comments.blank? %>
        <p class="card-text">このユーザーはまだコメントしていません</p>
        <% else %>
        <h4 class="card-text">投稿したコメント(<%= @comments.count %>)</h4>
        <%= render :partial => "comments/comment", :collection => @comments %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
