<div class="mt-3">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag(@user.image, {alt: "profile_pic", size: 100, class: "rounded"}) %>
    </div>
    <div class="col-md-10">
      <div class="area">
        <% if @user.area.present? %>
        <%= @user.area %>
        <% else %>
        (エリアは未設定です)
        <% end %>
      </div>
      <div class="homegelaende">
        <% if @user.home_gelaende.present? %>
        <%= @user.home_gelaende %>
        <% else %>
        (ホームゲレンデは未設定です)
        <% end %>
      </div>
      <div class="name">
        <% if @user.name.present? %>
        <%= @user.name %>
        <% else %>
        (名前が未設定です)
        <% end %>
      </div>
      <div class="age">
        <% if @user.gender.present? %>
        <%= fa_icon @user.gender %>
        <% end %>
        <% if @user.age.present? %>
        <%= @user.age %>
        <% else %>
        (年齢が未設定です)
        <% end %>
      </div>
      <div class="selfintroduction">
        <% if @user.self_introduction.present? %>
        <%= @user.self_introduction %>
        <% else %>
        (自己紹介が未設定です)
        <% end %>
      </div>
      <div class="comments">
        <%=  "このユーザーはまだコメントしていません。" if @comments.blank? %>
        <ul>
          <%= render :partial => "comments/comment", :collection => @comments %>
        </ul>
      </div>
    </div>
  </div>
</div>
