<button type="button" class="btn btn-outline-info btn-block rounded-0" data-toggle="modal" data-target="#createModal">
  レーンを追加する
</button>
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">レーンを追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="lane-form">
          <% @lane ||= Lane.new %>
          <%= form_for @lane do |f| %>
          <%= hidden_field_tag :park_id, park.id %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="items-form">
            <%= f.label "名前を入力" %>
            <%= f.text_field :name, class: 'form-control', required: true, placeholder: "例:上級レーン" %>
          </div>
          <div class="items-form mt-2">
            <%= f.label "レイアウトを紹介" %>
            <%= f.text_area :items, class: 'form-control', required: true, placeholder: "レイアウトを入力" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "追加する", class: "btn btn-info" %>
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">閉じる</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
