<div class="card">
  <%= image_tag 'sample_skiresort.jpg', class: "card-img-top"%>
  <div class="card-body">
    <span class="card-text"><%= fa_icon "map-marker" %> <%= skiresort.prefecture %></span><h4 class="card-title"><%= skiresort.name %></h4>
    <p class="card-text">ここのスノーパークはバイブス高い。</p>
  </div>
  <div class="card-footer bg-white">
    <h5 class="card-text">パーク</h5>
    <% if skiresort.parks.blank? %>
    <span class="card-text btn btn-block btn-light">なし</span>
    <% end %>
    <%= render :partial => "parks/park_for_skiresorts_index", :collection => skiresort.parks %>
  </div>
</div>
