<div class="d-flex">
  <div class="card text-black mt-4 mb-4 bg-gray">
    <div class="card-header">
      <h3 class="card-title"><%= fa_icon "compass" %> <%= @area.name %> <small>スキー場情報</small></h3>
      <p class="card-text area-introduciton"><%= fa_icon "share-square" %> <%= @area.description %></p>
    </div>
    <div class="card-body bg-white">
      <div class="card-columns">
        <%= render @skiresorts %>
      </div>
      <%= paginate @skiresorts %>
    </div>
  </div>
</div>
