<h1><%= @skiresort.name %></h1>
<div>
  <%= image_tag 'sample_skiresort.jpg', {width: 600, class: "rounded"} %>
</div>
<div>
  <%= fa_icon "map-marker" %> <%= @skiresort.prefecture %>
</div>
<div>
  <%= fa_icon "area-chart" %> <%= @skiresort.area %>
</div>
