<nav class="navbar navbar-expand-lg navbar-dark mb-3 bg-info">
  <%= link_to (fa_icon "product-hunt", class: "fa-lg") + "ARKINDEX", root_path, class: "navbar-brand" %>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if (controller.controller_name + controller.action_name) == 'static_pageshome' %>">
        <%= link_to "ホーム", root_path, class: "nav-link" %>
      </li>

      <li class="nav-item dropdown <%= 'active' if (controller.controller_name + controller.action_name) == 'skiresortsindex' %>">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          スキー場
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "北海道エリア", skiresorts_path(area_id: 1), class: "dropdown-item" %>
          <%= link_to "東北エリア", skiresorts_path(area_id: 2), class: "dropdown-item" %>
          <%= link_to "関東甲信越エリア", skiresorts_path(area_id: 3), class: "dropdown-item" %>
          <%= link_to "中京エリア", skiresorts_path(area_id: 4), class: "dropdown-item" %>
          <%= link_to "北陸エリア", skiresorts_path(area_id: 5), class: "dropdown-item" %>
          <%= link_to "関西エリア", skiresorts_path(area_id: 6), class: "dropdown-item" %>
          <%= link_to "中国四国九州エリア", skiresorts_path(area_id: 7), class: "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item dropdown <%= 'active' if (controller.controller_name + controller.action_name) == 'parksindex' %>">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          パーク
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "北海道エリア", parks_path(area_id: 1), class: "dropdown-item" %>
          <%= link_to "東北エリア", parks_path(area_id: 2), class: "dropdown-item" %>
          <%= link_to "関東甲信越エリア", parks_path(area_id: 3), class: "dropdown-item" %>
          <%= link_to "中京エリア", parks_path(area_id: 4), class: "dropdown-item" %>
          <%= link_to "北陸エリア", parks_path(area_id: 5), class: "dropdown-item" %>
          <%= link_to "関西エリア", parks_path(area_id: 6), class: "dropdown-item" %>
          <%= link_to "中国四国九州エリア", parks_path(area_id: 7), class: "dropdown-item" %>
        </div>
      </li>

      <% if logged_in? %>
      <li class="nav-item dropdown <%= 'active' if controller.controller_name == 'users' %>">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          アカウント
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "プロフール詳細",current_user, class: "dropdown-item" %>
          <%= link_to "プロフィール編集",edit_user_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト",logout_path, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item <%= 'active' if (controller.controller_name + controller.action_name) == 'static_pageslogin' %>">
        <%= link_to "ログイン",login_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
    <%= form_tag skiresorts_search_path, method: :get, class: "form-inline" do %>
    <div class="input-group">
      <%= text_field_tag(:search, params[:search], placeholder: "スキー場を入力", class: "form-control", "aria-describedby" => "addon") %>
      <div class="input-group-append">
        <%= submit_tag "検索", id: "addon", class: "btn btn-outline-info bg-light" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
