<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #4BBD00;">
  <%= link_to (fa_icon "product-hunt", class: "fa-lg") + "ARKINDEX", root_path, class: "navbar-brand" %>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if (controller.controller_name + controller.action_name) == 'static_pageshome' %>">
        <%= link_to "ホーム", root_path, class: "nav-link" %>
      </li>

      <li class="nav-item dropdown <%= 'active' if (controller.controller_name + controller.action_name) == 'skiresortsindex' %>">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          スキー場
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "北海道エリア", skiresorts_path(area: 0), class: "dropdown-item" %>
          <%= link_to "東北エリア", skiresorts_path(area: 1), class: "dropdown-item" %>
          <%= link_to "関東エリア", skiresorts_path(area: 2), class: "dropdown-item" %>
          <%= link_to "中部エリア", skiresorts_path(area: 3), class: "dropdown-item" %>
          <%= link_to "北陸エリア", skiresorts_path(area: 4), class: "dropdown-item" %>
          <%= link_to "東海エリア", skiresorts_path(area: 5), class: "dropdown-item" %>
          <%= link_to "関西エリア", skiresorts_path(area: 6), class: "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item dropdown <%= 'active' if (controller.controller_name + controller.action_name) == 'parksindex' %>">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          パーク
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "北海道エリア", parks_path(area: 0), class: "dropdown-item" %>
          <%= link_to "東北エリア", parks_path(area: 1), class: "dropdown-item" %>
          <%= link_to "関東エリア", parks_path(area: 2), class: "dropdown-item" %>
          <%= link_to "中部エリア", parks_path(area: 3), class: "dropdown-item" %>
          <%= link_to "北陸エリア", parks_path(area: 4), class: "dropdown-item" %>
          <%= link_to "東海エリア", parks_path(area: 5), class: "dropdown-item" %>
          <%= link_to "関西エリア", parks_path(area: 6), class: "dropdown-item" %>
        </div>
      </li>

      <% if logged_in? %>
      <li class="nav-item dropdown <%= 'active' if controller.controller_name == 'users' %>">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          アカウント
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "プロフール詳細",current_user, class: "dropdown-item" %>
          <%= link_to "プロフィール編集",edit_user_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト",logout_path, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item <%= 'active' if (controller.controller_name + controller.action_name) == 'static_pageslogin' %>">
        <%= link_to "ログイン",login_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
    <%= form_tag skiresorts_search_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
    <%= text_field_tag(:search, params[:search], placeholder: "スキー場を入力", class: "form-control mr-sm-2") %>
    <%= submit_tag "検索", class: "btn btn-outline-light my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>
